section > ul > li{
    margin:0 0 10px 0;   
}

del {
	text-decoration:none; 
	color: #008cff;
}

.center{
	float:left;
	margin-right: 15px;
	width: 50%;
}

blockquote {
	margin-top: 10px;
}

.left{
	float:left;
	margin-right: 15px;
	width: 50%;
}
.right{
	float:right;
	margin-left: 15px;
	width: 50%;
}

.wrap{
	display: inline-block;
	margin-bottom: 20px;
}

.wrap img {
	float:left;
	margin-right: 20px;
	width: 50%;
}

